<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /simpeg
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /simpeg/index.php/$1 [L]
</IfModule>
